@model IEnumerable<CrudMvcSebasCastanoEF.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categoria</h1>
    
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<form asp-controller="Categorias" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="buscar" class="btn btn-sm btn-dark" />

</p></form>
<table class="table">
    <thead>
        <tr>
            <th>   
                    @Html.DisplayNameFor(model => model.CodigoCategoria)
            <th>
                <a asp-action ="Index" asp-route-filtro ="@ViewData["FiltroNombre"]">

                @Html.DisplayNameFor(model => model.Nombre)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.CodigoCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.CodigoCategoria">Edit</a> 
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.CodigoCategoria">Details</a> 
                <a asp-action="Delete" class = "btn btn-danger" asp-route-id="@item.CodigoCategoria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
