@model VentasVidaKidsLoteVX.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle del Cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class="col-sm-2">
            Apellido
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoCliente)
        </dd>
        <dt class="col-sm-2">
            Correo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailCliente)
        </dd>
        <dt class="col-sm-2">
            Telefono
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoCliente)
        </dd>
        <dt class="col-sm-2">
            Pais
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaisCliente)
        </dd>
        <dt class="col-sm-2">
            Ciudad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CiudadCliente)
        </dd>
        <dt class="col-sm-2">
            Contraseña
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PasswordCliente)
        </dd>
        <dt class="col-sm-2">
            Fecha Registro
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaClienteRegistro)
        </dd>
        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEstadoClienteNavigation.NombreEstadoCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCliente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
